body {
  margin: 0;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafa;
  color: #3a3a3a;
}

code {
  font-family: "Courier New", Consolas, "Lucida Console", "Monaco", monospace;
}

:root {
  --primary-color: #0062ff;
  --secondary-color: #4caf50;
  --text-color: #3a3a3a;
  --background-color: #f9fafa;
  --card-background: #ffffff;
  --border-color: #e0e0e0;
  --hover-color: #004bbf;
  --link-color: #0062ff;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --font-heading: "Inter", "Roboto", "Segoe UI", sans-serif;
  --font-body: "Inter", "Roboto", "Segoe UI", sans-serif;
  --border-radius: 8px; /* Standard border radius */
}
